<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%=course_name%>
  </title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/ionicons.min.css">
</head>

<body class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
  <h1>
    <p class="badge">
      <%=course_id%>
    </p>
    <p>
      <%=course_name%>
    </p>
  </h1>
  <!-- display multi-paragraph -->
  <div class="text-left">
    <% course_desc.split(/\r\n/g).forEach(function (paragraph) { %>
      <p>
        <%= paragraph %>
      </p>
      <% }) %>
  </div>
  <% if(isEnrolled){ %>
    <form action="/drop_course" method="post" class="navbar-form">
      <input name="course_id" value="<%=course_id %>" hidden>
      <input type="submit" value="Drop" class="btn btn-success btn-lg">
    </form>
    <% } else{ %>
      <form action="/enroll_course" method="post" class="navbar-form">
        <input name="course_id" value="<%=course_id %>" hidden>
        <input type="submit" value="Enroll" class="btn btn-success btn-lg">
      </form>
      <% } %>

</body>

</html>