<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body class="container">
  <h1 class="text-center">
    <%= message %>
  </h1>

  <!-- list all courses this user already enrolled -->
  <aside class="col-md-4">
    <h3>Your enrolled courses</h3>
    <% if(enrolls.length > 0){ %>
      <ul class='list-group'>
        <% enrolls.forEach(function (enroll) { %>
          <a class='list-group-item' href=<%= '/courses/' + enroll.course_id %>>
            <b><%= enroll.course_id %></b>
            <%= enroll.course_name + ' ' + enroll.course_desc %>
          </a>
          <% }) %>
      </ul>
    <% } else{ %>
      <p>You didn't enroll any courses</p>
    <% } %>
  </aside>


  <!-- list all the courses in database -->
  <main class="col-md-8">
    <h3>All courses</h3>
    <ul class='list-group'>
      <% courses.forEach(function (course) { %>
        <a class='list-group-item' href=<%= '/courses/' + course.course_id %>>
          <b><%= course.course_id %></b>
          <%= course.course_name + ' ' + course.course_desc %>
        </a>
        <% }) %>
    </ul>
  </main>


  <!-- send a post request to log out -->
  <form action='/logout' method='POST'>
    <input type="submit" class="btn btn-danger center-block" name="logout" value="Log out">
  </form>
</body>

</html>